<!DOCTYPE html>
{% load static %}
<html lang="en"> <!-- Will enumerate 'Name' and 'Image' fields if working -->
<head>
  <title>Development Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
  <b>Thermal Printer Image Upload!</b>
  <a href="{% url 'download:index' %}">
    Download app
  </a><br>
  <form method="post" enctype="multipart/form-data" action="">  
    {% csrf_token %}  
    {{ form.as_p }}  
    <button type="submit">Upload</button>  
  </form>  
  {% if form %}
    <h3 class="good">Form valid</h3>
  {% else %} <!-- If 'Form null' appears, there's a bug in views.py, models.py, urls.py, settings.py; somewhere -->
    <h3 class="bad">Form null</h3>
  {% endif %}

  {% if img_object %} <!-- On clicking 'Upload', should have feedback that the request worked -->
    <h3 class="good">Successfully uploaded : {{img_object.name}}</h3>
    <img src="{{ img_object.image.url}}" alt="connect" style="max-height:300px">
  {% else %}
    <h3>No image uploaded</h3>
  {% endif %}
  <!-- Media folder check: put random image here and verify it appears -->
  <img src="{% get_media_prefix %}images/Row.png" alt="test">
</body>
</html>